.card {
  margin-bottom: 16px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 8px;
  }
}

.header {
  &__container {
    margin-bottom: 16px;
  }
}

.progress {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
}
